@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF Mono', 'Menlo', 'Monaco', 'Consolas', monospace;
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
